<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carros</title>
</head>
<body>
    <h1>Aluguel de carro:</h1>
    <table>
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Diária</th>
                <th>Combustivel</th>
                <th>Alugar</th>
            </tr>
        </thead>
        <tbody>
            {% for carro in carros %}
            <tr>
                <td>{{ carro.modelo }}</td>
                <td>{{ carro.ano }}</td>
                <td>R$ {{ carro.diaria }}</td>
                <td>{{ carro.combustivel }}</td>
                <td>
                    {% if carro.alugado %}
                        <button disabled>Alugado</button>
                    {% else %}
                        <form action="/alugar/{{ carro.id }}" method="post">
                            <button type="submit">Alugar</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>