<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Gerenciamento: Aluguel de Veículos</title>
</head>
<body>
    <h1>Selecione para alguel de veículo:</h1>
    <ul>
        <li>
            <a href="/alugar_carros"><button>Alugar Carro</button></a>
        </li>
        <li>
            <a href="/alugar_motocicletas"><button>Alugar moto</button></a>
        </li>
        <li>
            <a href="/listar_veiculos"><button>Listar veículos</button></a>
        </li>
    </ul>
</body>
</html>