<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Motocicletas</title>
</head>
<body>
    <h1>Aluguel de motocicleta:</h1>
    <table>
        <thead>
            <tr>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Diária</th>
                <th>Cilindradas</th>
                <th>Alugar</th>
            </tr>
        </thead>
        <tbody>
            {% for motocicleta in motocicletas %}
            <tr>
                <td>{{ motocicleta.modelo }}</td>
                <td>{{ motocicleta.ano }}</td>
                <td>R$ {{ motocicleta.diaria }}</td>
                <td>{{ motocicleta.cilindradas }}</td>
                <td>
                    {% if motocicleta.alugado %}
                        <button disabled>Alugado</button>
                    {% else %}
                        <form action="/alugar/{{ motocicleta.id }}" method="post">
                            <button type="submit">Alugar</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>