<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Motocicletas</title>
</head>
<body>
    <h1>Aluguel de motocicleta:</h1>
    <form>
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        
        <label for="ano">Ano:</label>
        <input type="number" id="ano" name="ano" required>

        <label for="diaria">Diária:</label>
        <input type="number" id="diaria" name="diaria" required>

        <label for="cc">Cilindradas:</label>
        <input type="number" id="cc" name="cc" required>

        <input type="submit" value="Alugar">
    </form>
</body>
</html>