<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Listagem dos veículos</title>
</head>
<body>
    <h1>Veículos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Modelo</th>
                <th>Ano</th>
                <th>Diária</th>
                <th>Tipo</th>
                <th>Combustível</th>
                <th>Cilindradas</th>
                <th>Alugado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for dado in motocicletas %}
            <tr>
                <td>{{ dado.id }}</td>
                <td>{{ dado.veiculo.modelo }}</td>
                <td>{{ dado.veiculo.ano }}</td>
                <td>R$ {{ "{:.2f}".format(dado.veiculo.diaria) }}</td>
                <td>Motocicleta</td>
                <td></td>
                <td>{{ dado.veiculo.cilindrada }}</td>
                <td>{{ 'Sim' if dado.alugado else 'Não' }}</td>
                <td>
                    <form action="/remover/{{ dado.id }}" method="post" style="display:inline;">
                        <input type="submit" value="Remover">
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% for dado in carros %}
            <tr>
                <td>{{ dado.id }}</td>
                <td>{{ dado.veiculo.modelo }}</td>
                <td>{{ dado.veiculo.ano }}</td>
                <td>R$ {{ "{:.2f}".format(dado.veiculo.diaria) }}</td>
                <td>Carro</td>
                <td>{{ dado.veiculo.combustivel }}</td>
                <td></td> <!-- Cilindrada não aplicável para carros -->
                <td>{{ 'Sim' if dado.alugado else 'Não' }}</td>
                <td>
                    <a href="/editar/{{ dado.id }}"><button>Editar</button></a>
                    <form action="/remover/{{ dado.id }}" method="post" style="display:inline;">
                        <input type="submit" value="Remover">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/adicionar_veiculo"><button>Adicionar Veículo</button></a>
    <br>
    <a href="/"><button>Página Inicial</button></a>
</body>
</html>